<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>英雄无敌3修改器</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="/static/js/modernizr.js"></script>
  <script src="/static/js/bluebird.core.min.js"></script>
  <script src="/static/js/lodash.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
% if DEBUG:
  <script src="/static/js/react.16.development.js"></script>
  <script src="/static/js/react-dom.16.development.js"></script>
% else:
  <script src="/static/js/react.16.production.min.js"></script>
  <script src="/static/js/react-dom.16.production.min.js"></script>
% end
  <script src="/static/js/babel.6.15.min.js"></script>
  <script type="text/babel" src="/static/js/main.js"></script>
</head>
<body>
  <main id="app_root">
  </main>
</body>
</html>
