main {
  max-width: 900px;
  margin: 10px auto 50px;
}
.game_info span {
  margin-right: 50px;
}
.game_info .error {
  font-size: 40px;
  text-align: center;
  color: red;
}
button.confirm {
  color: red;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.header .tab {
  display: inline-block;
  width: 33.3%;
  background-color: #cacaca;
  text-align: center;
  cursor: pointer;
}
ul.header .tab.active {
  color: white;
  background: black;
}

.fixed-container {
}
.fixed-container .fixed.active {
  position: fixed;
  top: 0;
  background: white;
  border: 1px solid #e0e0e0;
  width: 100%;
  max-width: 900px;
  z-index: 100;
}

.player-select {
  padding: 5px;
  display: flex;
  align-items: center;
}
.player-list {
  display: flex;
}
.player-item {
  cursor: pointer;
  border: 1px solid white;
}
.player-item.active {
  border-color: #e40b6b;
}

.resource-list {
  display: flex;
  flex-wrap: wrap;
}
.resource-item {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
.hero-select {

}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #999999;
}
.hero-avator {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  padding: 0 2px;
}
.hero-avator.active {
  border-color: #e40b6b;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
}
.info-list .info-item {
  width: 25%;
  display: flex;
}
.col-8 {
  width: 12% !important;
}
.col-7 {
  width: 14% !important;
}

.object-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.object-item {
  border: 1px solid;
  width: 100%;
  height: 120px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.object-item label {
  width: 100%;
  height: 22px;
  text-align: center;
  cursor: pointer;
}
.creature-item {
  border: 1px solid;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creature-item label {
  width: 100%;
  height: 22px;
  text-align: center;
  cursor: pointer;
}
.creature-item input {
  width: 80%;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.modal-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: -1;
}
.modal-body {
  background: white;
  max-width: 800px;
  margin: auto;
  max-height: 90%;
  overflow-y: scroll;
}

.town-select {
}
.town-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #999999;
}
.town-avator {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  padding: 0 2px;
}
.town-avator.active {
  border-color: #e40b6b;
}

/* ================== */
.icon,
.icon-resources,
.icon-skills {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-players {
  width: 36px;
  height: 43px;
}
